<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edgerslottery">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".views.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.QrScannerActivity"/>
        <activity android:name=".views.OrganizerHomeActivity"/>
        <activity android:name=".views.NewUserActivity"/>
        <activity android:name=".views.HomeActivity"/>
        <activity android:name=".views.AdminHomeActivity"/>
        <activity android:name=".views.LoginActivity"/>
        <activity android:name=".views.CheckoutActivity"/>
        <activity android:name=".views.ProfileActivity"/>
        <activity android:name=".views.OrganizerListActivity"/>
        <activity android:name=".views.CreateEditEventActivity"/>
        <activity android:name=".views.EventDetailsActivity"/>
        <activity android:name=".views.EventDetailsOrganizer"/>
        <activity android:name=".views.EventUserChoice"/>
        <activity android:name=".views.EventWaitlistTab"/>
        <activity android:name=".views.EventEntrantOrganizer"/>
        <activity android:name=".views.AdminEventListActivity" />
        <activity android:name=".views.AdminUserListActivity" />
        <activity android:name=".views.AdminUserProfileActivity" />
        <activity android:name=".views.AdminImagesViewActivity" />
        <activity android:name=".views.AdminImageFullscreenActivity" />
        <activity android:name=".views.OrganizerEventsListActivity" />
        <activity android:name=".views.ExportNotificationsActivity" />
        <activity android:name=".views.EventHistoryActivity" android:exported="false"/>


    </application>

</manifest>