<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Edgerslottery">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAaCA5x_5tubQHFrWCLlOfV9hWEDzf2tI" />

        <activity android:name=".views.user.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.user.QrScannerActivity"/>
        <activity android:name=".views.organizer.OrganizerHomeActivity"/>
        <activity android:name=".views.user.NewUserActivity"/>
        <activity android:name=".views.user.HomeActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".views.admin.AdminHomeActivity"/>
        <activity android:name=".views.user.LoginActivity"/>
        <activity android:name=".views.user.CheckoutActivity"/>
        <activity android:name=".views.user.ProfileActivity"/>
        <activity android:name=".views.organizer.OrganizerListActivity"/>
        <activity android:name=".views.organizer.CreateEditEventActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".views.user.EventDetailsActivity"/>
        <activity android:name=".views.organizer.EventDetailsOrganizer"/>
        <activity android:name=".views.user.EventUserChoice"/>
        <activity android:name=".views.organizer.EventWaitlistTab"/>
        <activity android:name=".views.organizer.EventEntrantOrganizer"/>
        <activity android:name=".views.admin.AdminEventListActivity" />
        <activity android:name=".views.admin.AdminUserListActivity" />
        <activity android:name=".views.admin.AdminUserProfileActivity" />
        <activity android:name=".views.admin.AdminImagesViewActivity" />
        <activity android:name=".views.admin.AdminImageFullscreenActivity" />
        <activity android:name=".views.organizer.OrganizerEventsListActivity" />
        <activity android:name=".views.user.ExportNotificationsActivity" />
        <activity android:name=".views.user.EventHistoryActivity" android:exported="false"/>
        <activity android:name=".views.organizer.OrganizerWaitlistMapActivity" android:exported="false" />
        <activity android:name=".views.organizer.EventCommentsOrganizer"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".views.user.EventCommentsActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".views.admin.AdminNotificationLogActivity"
            android:exported="false" />




    </application>

</manifest>